body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #121212;
  color: #f0f0f0;
}

header {
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: #0b947f;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px #00000066;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  gap: 10px;
  flex-wrap: wrap;
}

input[type="text"],
input[type="url"],
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #f0f0f0;
}

input::placeholder {
    color: #888;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #03dac6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #00bfa5;
}

/* Estilos da Seção de Gerenciamento */
.management-section {
    background-color: #1f1f1f;
    padding: 20px;
    margin: 0 40px 20px 40px;
    border-radius: 8px;
    text-align: center;
}

.management-section h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#addGameForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#addGameForm input {
    flex-grow: 1;
    min-width: 200px;
}

.results-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 40px;
  justify-items: center;
  text-align: center;
}

.game-card {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  box-shadow: 0 0 8px rgba(3, 218, 198, 0.5);
  color: #f0f0f0;
  text-align: center;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.game-card h4 {
  margin: 5px 0;
  font-size: 1.1rem;
}

.game-card p {
  margin: 3px 0;
  font-size: 0.85rem;
  color: #a0a0a0;
}

/* Botão de Remover */
.remove-btn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #cf6679;
    color: black;
    width: 100%;
}

.remove-btn:hover {
    background-color: #b00020;
    color: white;
}